<!DOCTYPE html>

<html>
    <head>
        <!-- default stuff to include-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- link css main style sheet-->
        <link rel="stylesheet" type="text/css" href="gobyry.github.io/css/main.css">

        <!-- title for tab-->
        <title>Ryan Hui Portfolio</title>

        <!-- google font
        <link href="<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        -->
    </head>

    <body>
        <div class="background"></div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p><center>Caresse is a poo poo head.</center></p>
        <a target="_blank" href="www.linkedin.com/in/ryan-hui-profile"><center>My Linkedin</center></a>
        <a href="index.html"><center>Return</center></a>
    </body>
</html>
